<div class="content">
  <div class="title">
    <img class="ember-logo" src="images/Ember.png"/>
    <span><i>The</i> Choice For Enterprise.</span>
  </div>

  {{icons-container}}

  <a name="1"></a>
  {{text-component}}

  <a name="2"></a>
  {{text-component}}

  <a name="3"></a>
  {{text-component}}

  <a name="4"></a>
  {{text-component}}

  <a name="5"></a>
  {{text-component}}

  <a name="6"></a>
  {{text-component}}

  <a name="7"></a>
  {{text-component}}

  <a name="8"></a>
  {{text-component}}

  <a name="9"></a>
  {{text-component}}

  <a name="10"></a>
  {{text-component}}

  <a name="11"></a>
  {{text-component}}

</div>
